/* Global */
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #34495e;
    background-color: #ecf0f1;
}

section {
    margin-left: 30%;
}
h2 {
    font-weight: 700;
    margin-bottom: -3px;
}
span {
    text-decoration: underline;
}